@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@font-face {
  font-family: Formular;
  src: url(Media/Fonts/Formular-Bold.otf);
}

@font-face {
  font-family: Formular-regu;
  src: url(Media/Fonts/Formular-Regular.otf);
}


@font-face {
  font-family: KronaOne-Regular;
  font-display: block;
  src: url(Media/Fonts/KronaOne-Regular.ttf);
}

@font-face {
  font-family: Oxygen;
  src: url(Media/Fonts/Oxygen-Regular.ttf);
}

@font-face {
  font-family: OxygenB;
  src: url(Media/Fonts/Oxygen-Bold.ttf);
}


.oxygen{
  font-family: Oxygen;
}

.loader {
  position: absolute; 
  width: 100%;
  height: 100%; 
  z-index: 20; 
  background-color: #ededed;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: KronaOne-Regular;
  font-size: 40px;
}

.loader3 {
  position: absolute; 
  width: 100%;
  height: 100%; 
  z-index: 10; 
  background-color: #FF9900;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.loader2 { 
  margin: 0px;
  padding: 0px;
  position: fixed; 
  top: 0%;
  left: calc(50% - 400px);
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 720px;
  z-index: 31; 
  background-color: #ededed;
  display: flex;
  border: solid 1px black;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

@keyframes arrows {
  0%,
  100% {
    color: ededed;
    transform: translateY(0);
  }
  50% {
    color: #ff0000;
    transform: translateY(20px);
  }
}

.span {
  --delay: 0s;
  animation: arrows 1.5s var(--delay) infinite ease-in;
}

.span {
  --delay: 0s;
  animation: arrows 1.5s var(--delay) infinite ease-in;
}


body {
  background-color: #ededed;
  color: #000;
  font-family: KronaOne-Regular;
margin: 0;
  -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 

}


p {
  margin: 5px 0px;
}

.images_settings {
position: absolute;
top: 200px;
left: 200px;
width: 240px;
height: 120px;
z-index: 10;
}


.carusel {
background-color: #ededed; 
position: absolute;
top: 200px;
left: 200px;
width: 200px;
height: 240px;
z-index: 10;

}


.scale-menu {
  position : absolute;
  background: #ededed;
  padding: 15px;
  border: solid black 1px;
  bottom: 5%;
  left: 50%;

}

.size-param{
  border: 1px black solid;
  width: 120px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.scale-menu-button {
  width: 67px;
  height: 44px;
  padding: 5px;
  transition: 0.3s;
  outline: none;
  background-color: #ff9900;
  font-family: KronaOne-Regular;
  border: 1px solid black;  
  font-size: 15px;
  color: #000;
  margin-left: 15px;

}




.cslsbtn{
position:absolute; 
top:5px; 
right:5px; 
background-color: #ededed; 
display: flex;
outline: none;
align-items: center;   
justify-content: center;
width: 30px;
height: 30px;
border: none;
}

.cslsbtn:hover{
background-color: rgb(209, 209, 209);; 
}


.button_carusel{
background-color: #ededed; 
display: flex;
outline: none;
align-items: center;   
justify-content: center;
width: 30px;
padding: 5px;
height: 60px;
border: none;
margin-right: 2px;
margin-bottom: 2px;
}

.wall_settings {
position: absolute;
top: 340px;
left: 200px;
width: 240px;
height: 120px;
z-index: 10;
}


.objct_settings {
position: absolute;
top: 480px;
left: 200px;
width: 220px;
height: 180px;
z-index: 10;
}


.menu-cover{
position: absolute;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0);
}

.custom-range{
width: 100%;

}



.button_carusel:hover{
background-color: rgb(209, 209, 209);

}

.box-param{
  width: 163px; 
  height: 40px; 
  align-items: center; 
  display: flex; 
  justify-content: space-around;   
  background-color: #fDfDfD;  
  border: 0.5px solid  black;
}

.button_float{
background-color: #ededed; 
display: flex;
outline: none;
align-items: center;   
justify-content: center;
width: 55px;
padding: 5px;
height: 40px;
border: none;
border: 1px solid  black;
}

.button_float:hover{
 background-color: #858585;
}
.box {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 20px;
}




.fixed_nav{

  position: fixed;
  width: 100%; 
  height: 101px; 
  background-color: #ededed; 

  z-index: 10; 
  
}


.sideconf{
 position: fixed;
 background-color: #ededed;
 left:10px;
 bottom:10px;
 z-index: 4;
 transition: 0.5s;
 height: 60px;
}

.closeButton {
  height: 100%;
  width: 50px;
  outline: none;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  border: none; 
  border-right: 2px solid black;
  font-size: 40px;
  color: #000;
  transition: 0.3s;
}

.closeButton:hover {
  background-color: #C00;
  color: #fff;
  
}

.wall-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar-icon{
  width: 40px;
  height: 40px;
  margin-right: 5px;
} 

.wall-icon{
  width: 30px;
  height: 30px;
} 

.small-icon{
  width: 10px;
  height: 10px;
  margin-right: 4px;
} 

.logo-icon{
  width: 200px;
  position: relative;
  left: calc( 50% - 100px);
  top: 10px;
  margin: 0 5px;
  transition: 0.3s;
} 

.logo-bar{
  height: 101px; 
  width: 100%; 
  background-color: #ffffff; 
  margin: 0%; 
  padding: 0px; 
  display: flex; 
  font-size: 12px; 
  align-items: center; 
  color:#fff;
  transition: 0.3s;
  justify-content: space-between;
}

.byModern{
  width: 300px;
  position: absolute;
  left: calc( 50% - 150px);
  bottom: 20px;
  margin: 0 5px;
  transition: 0.3s;
}

.RightHead{
  width: 200px;
  position: relative;;
  right: 2%;
  margin: 0 5px;
  transition: 0.3s;
  display: none;
}


.button_nav{
  background-color: #EDEDED; 
  display: flex;
  outline: none;
  align-items: center;   
  justify-content: center;
  width: 239px;
  height: 60px;
  border: none;
  padding: auto;
  font-family: KronaOne-Regular;
}

.button_save{
  background-color: #EDEDED; 
  display: flex;
  outline: none;
  align-items: center;   
  width: 239px;
  padding: 5px;
  height: 60px;
  border: none;
  padding: auto;
  font-family: KronaOne-Regular;
}

.button_nav:hover{
  background-color: rgb(209, 209, 209);

}

.button_nav_s{
  background-color: #93D2FF; 
  display: flex;
  outline: none;
  align-items: center;   
  justify-content: center;
  width: 239px;
  padding: 5px;
  height: 60px;
  border: none;
  margin: 0%;
  font-family: KronaOne-Regular;
}



.button_cls{
  top: 20px;
  background-color: #ededed; 
  display: flex;
  outline: none;
  align-items: center; 
  margin: 25px 25px 0px;
  width: 190px;
  justify-content: space-between;
}

.close-main-menu{
  outline: none;
  width: 40px;
  height:40px;
  border: none;
  display: flex;
  align-items: center; 
  justify-content: center;
}

.close-main-menus{
  background-color: #93D2FF; 
}

.button_cls2{
  background-color: #ededed; 
  display: flex;
  outline: none;
  align-items: center; 
  justify-content: center;
  width: 60px;
  padding: 5px;
  height: 60px;
  border: none;
  margin: 0%;
}



.button_side{ 
  background-color: rgb(147, 210, 255);
  display: flex;
  outline: none;
  align-items: center;   
  justify-content: center;
  width: 60px;
  padding: 5px;
  height: 60px;
  border: none;
  margin: 0%;
}


.button_side:disabled{
  background-color: #DDD; 
}







.sidenav {
  margin-top: 110px;
  padding: 0px ;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #ededed;
  overflow-x: hidden;
  transition: 0.5s;
}





.text {
  display: flex;
  align-items: center;
  justify-content:center;
  
  font-size: 20px;
  background-color: #000;
  color: #fff;
  margin-bottom: 30px;
  margin-top: 20px;
  text-decoration: none;
}


.wrapper {
display: grid;
align-items: center;
grid-template-columns: 50% 50%;
margin-top: 20px;
}


.main_groupe {
color: #000;
padding-top: 40px;
}

.main_groupe label {
display: block;
padding-bottom: 0px;
}

.transterwall{
  width: 189px;
}




.form_radio_btn1 {
padding: 10px 0px 10px 0px; 
margin-bottom: 10px;

}
.form_radio_btn1 input[type=radio] {
display: none;
}

.form_radio_btn1 label {
outline: none;
width: inherit;
border: none;

background-color: #ededed;

font-size: 20px;
color: #000;
transition: 0.3s;
}

/* Checked */
.form_radio_btn1 input[type=radio]:checked + label {
background-color: #93D2FF;
}



/* Hover */
.form_radio_btn1 label:hover {
background-color: rgb(209, 209, 209);
}


.search_bar {
outline: none;
transition: 0.3s;
padding: 5px;
width: 178px;
height: 35px;
margin-top: 25px;
border: solid 1px black;
background-color: #ededed;
font-size: 15px;
color: #000;
}

.search_bar::placeholder{
text-align: center;
}


.search_bar:focus {
background-color: rgb(209, 209, 209);

}

.par_sit {
background-color: #ededed;

}



.xyz {
justify-content: space-between;
padding: 5px; 
font-size: 14px; 
color: #858585;
}

.param-input-feild{
  width: 80px;
  height: 30px;
  transition: 0.3s;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: #fff;
  font-size: 15px;
  color: #000;
  transition: 0.3s;
  text-align: center;
}


.xyz_input {
  width: 80px;
  height: 40px;
  transition: 0.3s;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: #fff;
  font-size: 15px;
  color: #000;
  transition: 0.3s;
  text-align: center;
}

.xyz_inputt:invalid {
  border-bottom: red solid 2px;
  color: red;
}

.xyz_inputt {
  width: 80px;
  height: 40px;
  transition: 0.3s;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: #fff;
  font-size: 15px;
  color: #000;
  transition: 0.3s;
  text-align: center;
}


.button {
width: 100%;
height: inherit;
outline: none;
  text-align: center;
  justify-content: center;
  border: none; 
  border-left: 2px solid black;
  font-size: 40px;
  color: #000;
  transition: 0.3s;
}
.button:hover {
color: #C00;
}

.icon {
color: #777;
font-size: 20px;

}
.icon:hover {
color: #C00;
}
.social {
width: 100%;
padding: 20px;
display: flex;
justify-content:space-around;
color: #777;

font-size: 15px;
}



.sidemenur {
  background-color: #ededed; 
  display: block;
  outline: none;
  align-items: center; 
  justify-content: center;
  width: 60px;
  padding: 5px;
  height: 60px;
  border: none;
  margin: 0%;
  z-index: 2;
  transition: 0.5s;
}
.sidemenur:hover {
  cursor:pointer; 
  color: #C00;
  
}

.ruller {
 position: absolute;
 background-color: #ededed;
 font-size: 40px;
 padding: 5px;
 border-radius: 10px;

}

.closeconf{
  outline: none;
  border: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
}

.closeconf:hover{
  background-color: #93D2FF; 
}

.checkbox{
  outline: none;
  border: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 10%;
  top: 48%;
}

.remove_post{
  position: absolute;
  background-color: transparent;
  outline: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  top:5px;
  right:5px;
}

.active-copy{
  background-color: #72c2fb;
}

.deactive-copy{
  background-color: transparent;
}

.copy-menu{
  position: absolute;
  outline: none;
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  top:5px;
  left:5px;
}


.bar-iconC{
  width: 20px;
  height: 20px;
  
  }

.left-side-bt{
  top:45%;
  left: 5px;
}

.right-side-bt{
  top:45%;
  right:5px;
  transform: rotate(180deg);
}



.remove_post:hover{
  background-color: #93D2FF; 
}




.hr {
  height:3px;
  border-width:0;
  color:#fff;
  background-color:#fff
  
}

.infoText{
  margin-top: 50px;
  border-radius: 1px;
  text-decoration: none;
  font-size: 20px;
  
  color: #000;
  background-color: #fff;
  display: block;
  transition: 0.3s;
  margin: 0px, 20px, 20px, 20px;
}

.sidenav .object {
  position: relative;
  border-radius: 1px;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #000;
  border: solid transparent 2px;
  background-color: #ededed;
  transition: 0.3s;
}

.sidenav .object.hover {
  color: #C00;
  margin-left: 10px;
  margin-right: 10px;
}

.objname{
  width: 100%;
  text-align: left;
  font-size: 14px;
  margin: 20px 0px 5px;
  font-family: Oxygen;
}



@media screen and (max-width: 400px) {
  .box {flex-direction: column;}
}


/* width */
::-webkit-scrollbar {
width: 17px;
}


/* Handle */
::-webkit-scrollbar-thumb {
background: #000;
width: 10px;
border-radius: 10px;
border: 5.5px solid transparent;
background-clip: content-box;
}






.logo {
display: flex;
align-items: center;
justify-content:center;

font-size: 30px;
color: #fff;
margin-bottom: 30px;
margin-top: 20px;
text-decoration: none;
}





.logo:hover {
color: #C00;
}


.img_col {
width: 190px; 
height: 190px;
}

.img_selector {
 
  width: 100px; 
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  }


  .add-icon {
 
    width: 100px; 
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    }


.content {
width: 190px;
max-height: 0;
overflow: hidden;
transition: max-height 0.2s ease-out;
background-color: #ededed;
}

.collapsible {
  margin: 20px 0px 0px 0px;
  padding: 8px;
  width: 190px;
  color: #000;
  text-align: left;
  font-family: 'KronaOne-Regular';
  font-size: 17px;
  background-color: transparent;
  border: 0px solid #000;
  transition: 0.3s;

}
.collapsible:hover {

background-color: #93D2FF;
}

.collapsible:after {
content: url(Media/SVG/OpenM.svg); 
font-size: 6px; 
color: #000;
margin: auto 0px;
margin-left: 10px;
transition: 0.3s;
}

.active:after {
content: url(Media/SVG/CloseM.svg); 
color: #000;
transition: 0.3s;
}

.collapsible:hover:after {
color: #fff;

}

.active:hover:after {
color: #fff;
}




.img_config {
text-align: center;
width: 100%;
margin-bottom: 20px;
display: none;

}


.initial-button{ 
display: flex;
transition: 0.3s;
align-items: center;
margin: 30px;
flex-direction: column;
}


.hide-file{
  display: none;
}

.init-img{
  width: 260px;
  padding: 10px;
  height: auto;
  border: solid 1px black;
  transition: 0.3s;
}

.init-img:hover{
  width: 270px;
  padding: 10px;
  height: auto;
  border: solid 1px black;
  
}

.hide-nav-controls{
  display: none;
  height: 0px; 
  width: 100%; 
  background-color: #ededed;
  border-top: solid 0.5px black; 
  border-bottom: solid 0.5px black;  
  justify-content: space-between;
  margin: 0px;
  align-items: center;
  font-size: 20px;
  transition: 0.3s;
}

.init-but-cont{
  position: absolute;
  top:20%;
  transition: 0.3s;
}


.main_button {
margin: 15px 0px;
outline: none;
width: 190px;
height: 95px;
border: solid 1px black;
display: flex;
justify-content: space-evenly;
font-size: 15px;
transition: 0.3s;
align-items: center;
}

.main_button:hover {
background-color: rgb(209, 209, 209);
}


.Background_button {
  margin: 10px 0px;
  outline: none;
  width: 190px;
  height: 45px;
  border: solid 1px black;
  display: none;
  padding-left: 10px;
  justify-content: flex-start;
  font-size: 15px;
  transition: 0.3s;
  align-items: center;
  font-family: Oxygen;
  background-color: #ededed;
  }
  
.numder-input{
  width: 80px;
  height: 30px;
  transition: 0.3s;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background-color: #fff;
  font-size: 15px;
  color: #000;
  transition: 0.3s;
  text-align: center;
}  

.Background_button:hover {
  background-color: rgb(209, 209, 209);
  }

.hide{
  display:none;
}
.wall-param{
  font-size:13px; 
  margin-top: 15px; 
  font-family: Oxygen;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}
.wall_button {
  margin: 15px 0px;
  outline: none;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  transition: 0.3s;
  align-items: center;
  }
  .wall_button {
    margin: 15px 0px;
    outline: none;
    width: 40px;
    height: 40px;
    border: solid 1px black;
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    transition: 0.3s;
    align-items: center;
    }
.wall_buttons {
  margin: 15px 0px;
  outline: none;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  transition: 0.3s;
  align-items: center;
  background-color: #93D2FF;
  }
  
.wall_button:hover {
  background-color: rgb(209, 209, 209);
  }

.colorRow{
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
}

.door_button {
  margin: 15px 0px;
  outline: none;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  transition: 0.3s;
  align-items: center;
  }

.door_buttons {
  margin: 15px 0px;
  outline: none;
  width: 40px;
  height: 40px;
  border: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  transition: 0.3s;
  align-items: center;
  background-color: #93D2FF;
  }
.door_button:hover {
  background-color: rgb(209, 209, 209);
  }

.send_button {
  width: 212px; 
  height: 45px; 
  margin-top:10px;
  outline: none;
  border: solid 1px black;
  background-color: #FF9900;
  display: flex;
  text-align: center;
  font-family: KronaOne-Regular;
  justify-content: space-evenly;
  font-size: 15px;
  color: #000;
  transition: 0.3s;
  align-items: center;
  }

  .send_button:hover {
    background-color: #72c2fb;
  }

.create_button {
  outline: none;
  border: solid 1px black;
  display: flex;
  justify-content: space-evenly;
  font-size: 15px;
  background-color: #FF9900;
  font-family: KronaOne-Regular;
  width: 200px; 
  height: 40px;
  position: absolute;
  left: calc(50% - 100px);
  bottom: 10px;
  z-index: 30;
  }
  
  .create_button:hover {
  background-color: #d1d1d1;
  
  }

  .create_button:disabled {
    border: none;
    
    }


.send-noodles{
position: absolute;
top: calc(100px + 20%);
width: 500px;
background-color: #ededed;
display: flex;
align-items: center;
flex-direction: column;
padding: 10px;
z-index: 10;
}



.moreInfo {
outline: none;
width: auto;
border: none;
border-bottom: 3px solid #FFF;
background-color: #000;

font-size: 20px;
color: #fff;
transition: 0.3s;
}

.moreInfo:hover {
border-bottom: 3px solid #C00;
color: #C00;

}












input[type="range"] {
-webkit-appearance: none;
width: 100%;
margin: 20px 0px;
height: 2px;
background: #333;
border-radius: 0px;
}

input[type="range"]::-webkit-slider-thumb {
-webkit-appearance: none;
height: 28px;
width: 4px;
border-radius: 20%;
background: #000;
cursor: ew-resize;
border-radius: 20px;
}

input[type=range]::-webkit-slider-runnable-track  {
-webkit-appearance: none;
box-shadow: none;
border: none;
background: transparent;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
-moz-appearance: textfield;
}

.columnR_conf .columns_conf .wall_conf{
transition: 0.3s;
}




.configurator {
  display: flex;
  margin: 0px;
  padding: 0px;
  position: fixed; 
  top: 0%;
  left: calc( 50% - 400px);
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 720px;
  background-color: #fff;
  z-index: 30;
  flex-direction: column;
  align-content: center;
  align-items: center;
  text-align: center;
  }

.conf_background { 
position: absolute; 
width: 100%; 
height: 100%; 
background: radial-gradient(#72727280, #3d3d3de3); 
z-index: 9;
}

.paramtr_conf{
width: 800px; 
height: 265px;   
margin:auto; 
overflow-x: scroll;
overflow-y: hidden;
white-space: nowrap;
z-index: 40;

}


.feedback-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.OR-cover{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0);
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  margin: 20px;
}

.caru-box{
  width: 120px;
  position: relative;
  display: inline-block; 
  font-family: Oxygen;
}

.postbox_control{
 display: inline-block;
 top: 0px;
 margin-bottom: 40px;
}

.secondary_button {
outline: none;
padding:5px;
margin-bottom: 20px;
border: none;
background-color: rgb(245, 245, 245);

font-size: 15px;
color: #000;
transition: 0.3s;
}

.secondary_button:hover {
background-color: rgb(222, 222, 222);
}


.structure-transparency{
  margin-top: 15px;
  padding: 0px 5px;
  background-color: rgb(245, 245, 245);
  font-size:15px;
  border: 1px solid black;
}

.small_button {
outline: none;
width: 50%;

margin-top: 10px;
margin-bottom: 10px;
padding-right: 20px;

padding-top: 10px;
padding-bottom: 10px;
border: none;
background-color: #000;

font-size: 15px;
color: #ededed;
transition: 0.3s;
}


.config_button{
position:absolute; 
right:5px; 
bottom:5px; 
z-index: 20; 
width: 40px; 
height: 40px; 
font-size: 40px;
}



.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}


.inputfile + label {
cursor: pointer;
}

.inputfile:focus + label {
outline: 1px dotted #000;
outline: -webkit-focus-ring-color auto 5px;
}

.choose_file{
color: #72c2fb;
}



.custom-checkbox {
position: absolute;
z-index: -1;
opacity: 0;
margin: 10px;
font-family: OxygenB;
}

.custom-checkbox+label {
display: inline-flex;
align-items: center;
user-select: none;
}
.custom-checkbox+label::before {
content: '';
display: inline-block;
width: 1em;
height: 1em;
flex-shrink: 0;
flex-grow: 0;
border: 1px solid #000;
background-color: #fff;
background-repeat: no-repeat;
background-position: center center;
background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
background-image: url("Media\\SVG\\Checkbox.svg");
text-align: center;
}

.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
border-color: #93D2FF;
}

.custom-checkbox:not(:disabled):active+label::before {
background-color: #93D2FF;

}



.custom-checkbox:focus:not(:checked)+label::before {
border-color: #000000;
}




.cbcont{
font-size: 14px;

}





.inner-carusel{
  text-align: center;
  margin: 5px;
}

.slick-track {

  height: 200px;
}



.input[type="radio"]{
  font-size: 20px;


}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  padding: 2px;
  margin: 2px;
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 3px solid #93D2FF;
  border-radius: 20px;
  
}
.dots{
width: 30px; 
height: 30px;

}

.color_select{
  position: absolute;
  top: 48%;
  left: calc(50% - 113.5px);
  z-index: 10; 
  display: flex;
  width: auto;
  height: auto;
}



.out_list{
  margin-top: 50px;
  text-align: center;
}





.wrapper{
  position: absolute;
  left: 10%;
  top: 48%;
  display: inline-flex;
  background: rgba(255, 255, 255, 0);
  height: 20px;
  width: 100px;
  align-items: center;
  justify-content: space-evenly;
  
}
.wrapper .option{
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}


input[type="radio"]{
  display: none;
}
#option-1:checked:checked ~ .option-1,
#option-2:checked:checked ~ .option-2{
  border-color: #000000;
  background: #93D2FF;
  color: #fff;
}

.dropdown {
  position: relative;
  display: flex;
  background-color: #ededed; 
  outline: none;
  align-items: center;   
  justify-content: center;
  width: 239px;
  padding: 5px;
  height: 50px;
  border: none;
  color:#000;
  font-family: KronaOne-Regular;
  font-size: 15px;

}

.lock{
  position: relative;
  display: flex;
  background-color: #ededed; 
  outline: none;
  align-items: center;   
  justify-content: center;
  width: 239px;
  padding: 5px;
  height: 50px;
  border: none;
  color:rgb(187, 187, 187);
  font-family: KronaOne-Regular;
  font-size: 15px;
}


.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  left: 2px;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.direction-colomn{
  display: flex;
  flex-direction: column;
  font-family: OxygenB;
  border: 1px solid black;
}



.shelfconf{
  position: absolute;
  top: 0px;
  z-index: 10; 
  display: flex;
  width: auto;
  height: auto;
  font-family: OxygenB;
  flex-direction: column;
  border-top: 1px solid black;
}

.fridgeconf{
  position: absolute;
  top: 0px;
  z-index: 10; 
  display: flex;
  width: auto;
  font-family: OxygenB;
  height: auto;
  flex-direction: column;
}

.radio-height:checked + span{
  color: #93D2FF;
  
}


.stronger{
  outline: none;
  border: none;
  display: flex;
  align-items: center; 
  width: 100%;
  justify-content: space-between;
  font-size: 15px;

}

.dropdown-shelf {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #ededed; 
  outline: none;
  align-items: center;   
  width: 110px;
  padding: 5px;
  height: 30px;
  border: none;
  color:#000;
  font-size: 15px;
  border-right: 1px black solid;
  border-bottom: 1px black solid;

}
.shelf-height{
  margin: 10px;
  }
.dropdown-content-shelf-color {
  display: none;
  position: absolute;
  top: 0px;
  left:120px;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

}


.dropdown-content-shelf {
  display: none;
  position: absolute;
  top: 0px;
  left:120px;
  background-color: #f9f9f9;
  min-width: 60px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
  
}


.dropdown-shelf:hover .dropdown-content-shelf {
  display: flex;
}
.dropdown-shelf:hover .dropdown-content-shelf-color {
  display: block;
}

.shelf-but-selection{
  height: 40px;
    width: 40px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 160px;
    justify-content: flex-end;
}

.dropdown-shelf-small {
  position: relative;
  display: flex;
  background-color: #ededed; 
  outline: none;
  align-items: center;   
  justify-content: space-between;
  width: 75px;
  padding: 5px;
  height: 40px;
  border: none;
  color:#000;
  font-size: 15px;
  grid-row: 1;
  z-index: 10;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
}


.dropdown-content-shelf-small {
  display: none;
  position: absolute;
  bottom: 42px;
  left:0px;
  background-color: #f9f9f9;
  min-width: 60px;
  max-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

}
.dropdown-shelf-small:hover .dropdown-content-shelf-small {
  display: flex;
}

.caru-box-widther{
  width: 170px;
  font-family: Oxygen;
  position: relative;
  display: inline-block; 
  padding-bottom: auto;
}

.img_selector-shelf {
  width: 150px; 
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 10px;
  }
  .img_selector-shelf-inner {
    position: relative;
    top:-654px;
    width: 150px; 
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
    }
    .img_selector-shelf-inner-l {
      position: relative;
      top:-254px;
      width: 150px; 
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 10px;
      }
    .img_selector-shelf-inner-r {
      transform: scaleX(-1);
      position: relative;
      top:-454px;
      width: 150px; 
      height: 200px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 10px;
      }


  .dropdown-main-btn {
    position: relative;

    display: flex;
    background-color: transparent; 
    outline: none;
    align-items: center;   
    justify-content: space-between;
    width: 40px;
    height: 40px;
    border: none;
    color:#000;
    font-family: Oxygen;
    font-size: 15px;
    grid-row: 1;
  }
  
  .dropdown-content-main-btn {
    display: none;
    position: absolute;
    Bottom: 0px;
    right:40px;
    background-color: #f9f9f9;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    align-items: center;
  }
  .dropdown-main-btn:hover .dropdown-content-main-btn {
    display: flex;
  }


  .dropdown-width {
    position: relative;

    display: flex;
    background-color: #ededed; 
    outline: none;
    align-items: center;   
    justify-content: space-between;
    width: 110px;
    padding: 5px;
    height: 40px;
    border: none;
    color:#000;
    font-size: 15px;
    grid-row: 1;
    z-index: 30;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }
  
  .dropdown-content-width {
    display: none;
    position: absolute;
    bottom: 0px;
    left:120px;
    background-color: #f9f9f9;
    min-width: 60px;
    max-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 30;
  }
  .dropdown-width:hover .dropdown-content-width {
    display: flex;
  }

  .dropdown-amount {
    position: relative;

    display: flex;
    background-color: #ededed; 
    outline: none;
    align-items: center;   
    justify-content: space-between;
    width: 110px;
    padding: 5px;
    height: 40px;
    border: none;
    color:#000;
    font-size: 15px;
    grid-row: 1;
    z-index: 30;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }
  
  .dropdown-content-amount {
    display: none;
    position: absolute;
    bottom: -50px;
    left:120px;
    background-color: #f9f9f9;
    min-width: 60px;
    max-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 30;
  }
  .dropdown-amount:hover .dropdown-content-amount {
    display: flex;
  }


  .dropdown-inner {
    position: relative;

    display: flex;
    background-color: #ededed; 
    outline: none;
    align-items: center;   
    justify-content: space-between;
    width: 110px;
    padding: 5px;
    height: 40px;
    border: none;
    color:#000;
    font-size: 15px;
    grid-row: 1;
    z-index: 30;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }
  
  .dropdown-content-inner {
    display: none;
    position: absolute;
    top: 0px;
    left:120px;
    background-color: #f9f9f9;
    min-width: 60px;
    max-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 30;
  }
  .dropdown-inner:hover .dropdown-content-inner {
    display: flex;
  }

  .dropdown-borders {
    position: relative;

    display: flex;
    background-color: #ededed; 
    outline: none;
    align-items: center;   
    justify-content: space-between;
    width: 110px;
    padding: 5px;
    height: 40px;
    border: none;
    color:#000;
    font-size: 15px;
    grid-row: 1;
    z-index: 30;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }

  .confmenu{
    width: 100%; 
    height: calc(100% - 320px); 
    max-height: 400px; 
    background-color: #f1f1f1; 
  }
  
  .dropdown-content-borders {
    display: none;
    position: absolute;
    top: -45px;
    left:120px;
    background-color: #f9f9f9;
    min-width: 60px;
    max-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 30;
  }
  .dropdown-borders:hover .dropdown-content-borders {
    display: flex;
  }

  .dropdown-borders-grid {
    position: relative;

    display: flex;
    background-color: #ededed; 
    outline: none;
    align-items: center;   
    justify-content: space-between;
    width: 110px;
    padding: 5px;
    height: 40px;
    border: none;
    color:#000;
    font-size: 15px;
    grid-row: 1;
    z-index: 30;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
  }
  
  .dropdown-content-borders-grid {
    display: none;
    position: absolute;
    Bottom: 0px;
    left:120px;
    background-color: #f9f9f9;
    min-width: 60px;
    max-width: 75px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 30;
  }
  .dropdown-borders-grid:hover .dropdown-content-borders-grid {
    display: flex;
  }































.alert{
  display: none;
  position: absolute;
  padding-left: 10px;
  left:0px;
  top: 70px;
  width: 100px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgba(179, 179, 179, 0.473);
  transition: 0.3s;
}


.two-on-sides{
  display: flex;
  width: 90px;
  justify-content: space-between;
}



.align-center{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.align-left{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}


.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid #000;
  outline: none;
  background: transparent;
}

.login-box .user-box textarea {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1.5px solid #000;
  outline: none;
  background: transparent;
  max-width: 470px;
  height: 20px;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #000;
  pointer-events: none;
  transition: .5s;
  font-family: KronaOne-Regular;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #FF9900;
  font-size: 12px;
}

.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {
  top: -20px;
  left: 0;
  color: #FF9900;
  font-size: 12px;
}
